*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  background-color: #E5E5E5; }

body {
  font-family: 'Forum', cursive;
  font-size: 10px;
  line-height: 15px;
  background-color: #3B181E;
  max-width: 320px;
  margin: 0 auto;
  color: #E5E5E5; }

.header {
  max-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 30px 20px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .header__menu-picture {
    padding-top: 10px; }

.mask-section {
  background-image: url("../images/flowers.jpg");
  background-repeat: no-repeat;
  padding: 83px 50px;
  margin-bottom: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .mask-section__title {
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    color: #E5E5E5;
    font-size: 30px;
    line-height: 42px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.09em;
    margin-bottom: 35px; }
  .mask-section__button {
    padding: 19px 36px 18px 36px;
    border: 1px solid #E5E5E5;
    font-size: 10px;
    line-height: 11px;
    text-transform: uppercase;
    color: #E5E5E5;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.4);
    letter-spacing: 0.15em;
    margin-bottom: 60px; }
  .mask-section__social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 30px; }
    .mask-section__social-list .mask-section__social-link {
      list-style: none;
      margin-right: 40px; }
    .mask-section__social-list .mask-section__social-link a {
      position: relative;
      display: block;
      width: 35px;
      height: 35px;
      background-color: #3B181E;
      border-radius: 50%; }
      .mask-section__social-list .mask-section__social-link a svg {
        position: absolute;
        top: 25%;
        left: 25%; }
      .mask-section__social-list .mask-section__social-link a .facebook-f {
        position: absolute;
        top: 33%;
        left: 43%; }

.catalog-section {
  padding: 0 17px 0 15px;
  margin-bottom: 100px; }
  .catalog-section__title {
    font-size: 20px;
    line-height: 34px;
    font-weight: normal;
    text-transform: uppercase;
    color: #E5E5E5;
    letter-spacing: 0.06em;
    margin-bottom: 20px; }
  .catalog-section__slider {
    position: relative;
    width: 288px;
    height: 415px; }
    .catalog-section__slider input[type="radio"] {
      display: none; }
    .catalog-section__slider .slides {
      position: relative;
      width: inherit;
      height: 392px;
      overflow: hidden;
      margin-bottom: 20px; }
      .catalog-section__slider .slides .slide {
        position: absolute;
        width: inherit;
        height: inherit;
        padding: 12px 15px 15px 20px;
        opacity: 0;
        z-index: 0; }
        .catalog-section__slider .slides .slide__title {
          margin-bottom: 277px; }
          .catalog-section__slider .slides .slide__title hr {
            display: inline-block;
            width: 70px;
            border: 1px solid #E5E5E5;
            margin-right: 8px; }
          .catalog-section__slider .slides .slide__title span {
            font-size: 20px;
            line-height: 22px;
            text-transform: uppercase; }
        .catalog-section__slider .slides .slide__text {
          font-size: 16px;
          line-height: 27px;
          letter-spacing: 0.1em;
          opacity: 0.9;
          text-transform: uppercase; }
    .catalog-section__slider .slide_1 {
      background: url("../images/bouquet1.jpg") no-repeat;
      background-size: contain; }
    .catalog-section__slider .slide_2 {
      background-image: url("../images/bouquet2.jpg"); }
    .catalog-section__slider .slide_3 {
      background-image: url("../images/bouquet3.jpg"); }
    .catalog-section__slider .slide_4 {
      background-image: url("../images/bouquet4.jpg"); }
    .catalog-section__slider .catalog-section__controls {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .catalog-section__slider .catalog-section__controls .catalog-section__control {
        width: 62.6px;
        height: 3px;
        background-color: rgba(255, 255, 255, 0.3);
        margin-right: 12.5px; }
        .catalog-section__slider .catalog-section__controls .catalog-section__control:last-of-type {
          margin-right: 0; }
        .catalog-section__slider .catalog-section__controls .catalog-section__control:hover {
          background-color: #E5E5E5; }
    .catalog-section__slider #slide-1:checked ~ .catalog-section__controls label:nth-of-type(1),
    .catalog-section__slider #slide-2:checked ~ .catalog-section__controls label:nth-of-type(2),
    .catalog-section__slider #slide-3:checked ~ .catalog-section__controls label:nth-of-type(3),
    .catalog-section__slider #slide-4:checked ~ .catalog-section__controls label:nth-of-type(4) {
      background: #E5E5E5; }
    .catalog-section__slider #slide-1:checked ~ .slides > .slide_1,
    .catalog-section__slider #slide-2:checked ~ .slides > .slide_2,
    .catalog-section__slider #slide-3:checked ~ .slides > .slide_3,
    .catalog-section__slider #slide-4:checked ~ .slides > .slide_4 {
      opacity: 1;
      z-index: 1; }

.promo {
  padding: 0 16px;
  overflow: hidden; }
  .promo__image {
    max-width: 100%;
    height: auto;
    margin-bottom: 4px; }
  .promo__title {
    font-size: 20px;
    line-height: 34px;
    font-weight: normal;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 10px; }
  .promo > hr {
    display: inline-block;
    width: 83px;
    border: 1px solid #E5E5E5;
    font-size: 0px; }
  .promo__text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 40px; }
  .promo__button {
    background-color: #010001;
    color: #E5E5E5;
    border: none;
    padding: 20px 41px 18px 31px;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-bottom: 95px; }

.footer {
  padding: 0 17px 30px 15px; }
  .footer > hr {
    display: inline-block;
    width: 288px;
    margin-bottom: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2); }
  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 46px;
    padding-left: 0px; }
  .footer__menu-item {
    list-style: none;
    margin-bottom: 11px; }
    .footer__menu-item:last-of-type {
      margin-bottom: 0px; }
    .footer__menu-item a {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.5);
      font-size: 16px;
      line-height: 18px; }
  .footer__social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .footer__social-link {
    list-style: none; }
    .footer__social-link a {
      width: 25px;
      height: 25px;
      margin-right: 50px; }

/*# sourceMappingURL=style.css.map */
