.header {
  position: relative;
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 30px 20px 30px;
  width: 100%;
  max-width: 1920px; }
  @media (min-width: 768px) {
    .header {
      position: absolute;
      padding: 38px 50px 0 50px; } }
  @media (min-width: 1366px) {
    .header {
      padding: 38px 30px 0 50px; } }
  @media (min-width: 1920px) {
    .header {
      padding: 87px 99px 0 96px; } }
  .header__logo {
    z-index: 50; }
  .header__menu-burger {
    position: relative;
    z-index: 50;
    padding: 0;
    width: 37px;
    font-size: 0px;
    background-color: transparent;
    border: none; }
    @media (min-width: 768px) {
      .header__menu-burger {
        padding: 0; } }
    @media (min-width: 1366px) {
      .header__menu-burger {
        padding-left: 30px;
        width: auto;
        font-size: 20px;
        line-height: 22px;
        color: #E5E5E5;
        letter-spacing: 0.06em;
        text-transform: uppercase; } }
    .header__menu-burger::before, .header__menu-burger::after {
      content: "";
      display: block;
      width: 37px;
      height: 1px;
      background-color: #E5E5E5; }
      @media (min-width: 1366px) {
        .header__menu-burger::before, .header__menu-burger::after {
          position: absolute;
          left: 0;
          width: 23px; } }
    @media (min-width: 1366px) {
      .header__menu-burger::before {
        top: 5px; } }
    .header__menu-burger::after {
      margin-top: 10px; }
      @media (min-width: 1366px) {
        .header__menu-burger::after {
          bottom: 7px; } }
  .header--internal {
    padding: 16px 20px 20px 16px; }
    @media (min-width: 768px) {
      .header--internal {
        position: static;
        padding: 30px 40px 35px 40px; }
        .header--internal__menu-burger {
          margin-top: 10px; } }
    @media (min-width: 1366px) {
      .header--internal {
        position: absolute;
        padding: 30px 40px 35px 40px; }
        .header--internal img {
          width: 158px; } }
    @media (min-width: 1500px) {
      .header--internal {
        padding: 50px; } }
    @media (min-width: 1920px) {
      .header--internal {
        padding: 87px 118px 35px 94px; } }
  .header--active .header__logo {
    margin: 0 auto; }
  .header--active .header__menu-burger {
    position: absolute;
    top: 25px;
    right: 30px;
    height: 25px;
    font-size: 0; }
    @media (min-width: 768px) {
      .header--active .header__menu-burger {
        top: 50px;
        right: 50px; } }
    @media (min-width: 1366px) {
      .header--active .header__menu-burger {
        right: 80px; } }
    @media (min-width: 1920px) {
      .header--active .header__menu-burger {
        top: 100px;
        right: 150px; } }
    .header--active .header__menu-burger::before, .header--active .header__menu-burger::after {
      position: absolute;
      width: 23px; }
    .header--active .header__menu-burger::before {
      top: 10px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .header--active .header__menu-burger::after {
      top: 0;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }

.main-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  padding-top: 50px;
  width: 100%;
  min-height: 100vh;
  background-color: #3B181E; }
  @media (min-width: 768px) {
    .main-menu {
      padding-top: 120px; } }
  @media (min-width: 1920px) {
    .main-menu {
      padding-top: 200px; } }
  .main-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding-left: 0; }
  .main-menu__item {
    margin: 0 auto 60px auto;
    list-style: none;
    text-align: center; }
  .main-menu__link {
    display: block;
    width: 150px;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease; }
    .main-menu__link:hover {
      width: 250px;
      font-size: 25px;
      line-height: 28px;
      color: #E5E5E5; }
      @media (min-width: 768px) {
        .main-menu__link:hover {
          width: 450px;
          font-size: 45px;
          line-height: 50px; } }
    @media (min-width: 768px) {
      .main-menu__link {
        width: 350px;
        font-size: 30px;
        line-height: 33px; } }
    @media (min-width: 1366px) {
      .main-menu__link {
        font-size: 35px;
        line-height: 39px; } }
  .main-menu--active {
    display: block; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0; }
  .social__item {
    margin: 0 20px;
    list-style: none; }
    @media (min-width: 768px) {
      .social__item {
        margin: 0 40px; } }
    @media (min-width: 1366px) {
      .social__item {
        z-index: 100; } }
  .social__link {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    background-color: #3B181E;
    border-radius: 50%; }
    @media (min-width: 768px) {
      .social__link {
        width: 55px;
        height: 55px; } }
    @media (min-width: 1366px) {
      .social__link {
        background-color: transparent; } }
    .social__link:hover svg {
      fill: #E5E5E5; }
      .social__link:hover svg path {
        fill: #000000; }
      .social__link:hover svg circle {
        stroke: #000000;
        fill: #000000; }
  .social__whatsup-link:hover svg {
    overflow: visible;
    background-color: #E5E5E5;
    border-radius: 50%; }
    .social__whatsup-link:hover svg path {
      stroke: #E5E5E5; }
    .social__whatsup-link:hover svg path:nth-of-type(1) {
      stroke: #000000; }
  .social__icon {
    position: absolute;
    top: 25%;
    left: 25%; }
    @media (min-width: 320px) {
      .social__icon {
        width: 18px;
        height: 18px; } }
    @media (min-width: 768px) {
      .social__icon {
        width: 29px;
        height: 29px; } }
  .social--footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .social--footer .social__item {
    margin: 0 20px; }
  @media (min-width: 768px) {
    .social--footer .social__link {
      width: 35px;
      height: 35px; } }

.callback-popup-wrapper {
  position: fixed;
  z-index: 10;
  display: none;
  width: 100%;
  height: 100%; }
  .callback-popup-wrapper--active {
    display: block; }

.callback-popup-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); }

.callback-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  @media (min-width: 1366px) {
    .callback-popup {
      width: 716px; } }
  .callback-popup__image {
    display: none; }
    @media (min-width: 1366px) {
      .callback-popup__image {
        display: block; } }

.callback {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 60px 20px 50px 20px;
  width: 288px;
  background-color: #3B181E; }
  @media (min-width: 768px) {
    .callback {
      padding: 100px 45px 130px 45px;
      width: 464px; } }
  @media (min-width: 1366px) {
    .callback {
      padding: 66px;
      width: 381px; } }
  .callback__close-button {
    position: absolute;
    top: 20px;
    right: 15px;
    background: none;
    border: none; }
  .callback__title {
    margin: 0 auto 45px auto;
    width: 200px;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    font-weight: normal; }
    @media (min-width: 768px) {
      .callback__title {
        margin: 0 auto 50px auto;
        width: 300px;
        font-size: 30px;
        line-height: 33px; } }
    @media (min-width: 1366px) {
      .callback__title {
        margin: 0 auto 28px auto;
        width: 200px;
        font-size: 20px;
        line-height: 22px; } }
  .callback__name-input, .callback__phone-input {
    padding: 13px 0px 13px 22px;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: -0.01em;
    color: #E5E5E5;
    background-color: transparent;
    border: 1px solid rgba(246, 246, 249, 0.2); }
    @media (min-width: 768px) {
      .callback__name-input, .callback__phone-input {
        padding: 20px 0px 20px 33px;
        font-size: 20px;
        line-height: 22px; } }
    @media (min-width: 1366px) {
      .callback__name-input, .callback__phone-input {
        padding: 12px 0px 12px 22px;
        font-size: 14px;
        line-height: 15px; } }
  .callback__name-input {
    margin-bottom: 16px; }
    @media (min-width: 768px) {
      .callback__name-input {
        margin-bottom: 25px; } }
    @media (min-width: 1366px) {
      .callback__name-input {
        margin-bottom: 16px; } }
  .callback__phone-input {
    margin-bottom: 27px; }
    @media (min-width: 768px) {
      .callback__phone-input {
        margin-bottom: 40px; } }
    @media (min-width: 1366px) {
      .callback__phone-input {
        margin-bottom: 27px; } }
  .callback__submit-button {
    padding: 15px 60px;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .callback__submit-button {
        padding: 23px 92px;
        font-size: 15px;
        line-height: 17px; } }
    @media (min-width: 1366px) {
      .callback__submit-button {
        padding: 15px 60px;
        font-size: 11px;
        line-height: 12px; } }

.footer {
  padding: 0 17px 30px 15px; }
  @media (min-width: 768px) {
    .footer {
      padding: 0 21px 40px 21px; } }
  @media (min-width: 1366px) {
    .footer {
      padding: 0 52.5px 40px 52.5px; } }
  .footer > hr {
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2); }
    @media (min-width: 768px) {
      .footer > hr {
        margin-bottom: 26px; } }
    @media (min-width: 1920px) {
      .footer > hr {
        margin-bottom: 5px; } }
  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 46px;
    padding-left: 0px; }
    @media (min-width: 1366px) {
      .footer__menu {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    @media (min-width: 1920px) {
      .footer__menu {
        margin-bottom: 15px; } }
  .footer__menu-item {
    margin-bottom: 11px;
    list-style: none; }
    @media (min-width: 768px) {
      .footer__menu-item {
        margin-bottom: 20px; } }
    @media (min-width: 1366px) {
      .footer__menu-item {
        margin: 0px 25px 10px 0px; } }
    @media (min-width: 1920px) {
      .footer__menu-item {
        margin-right: 50px; } }
    .footer__menu-item:last-of-type {
      margin-bottom: 0px; }
      @media (min-width: 1366px) {
        .footer__menu-item:last-of-type {
          margin: 0px 0px 10px 0px; } }
    .footer__menu-item a {
      font-size: 16px;
      line-height: 18px;
      color: rgba(255, 255, 255, 0.5);
      text-decoration: none;
      -webkit-transition: 0.3s ease;
      transition: 0.3s ease; }
      .footer__menu-item a:hover {
        color: #E5E5E5; }
      @media (min-width: 768px) {
        .footer__menu-item a {
          font-size: 20px;
          line-height: 22px; } }
      @media (min-width: 900px) {
        .footer__menu-item a {
          font-size: 24px;
          line-height: 26px; } }
      @media (min-width: 1920px) {
        .footer__menu-item a {
          font-size: 16px;
          line-height: 18px; } }
  @media (min-width: 1366px) {
    .footer--hide {
      display: none; } }

.mask-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 98px;
  padding: 83px 50px 40px 50px;
  background-image: url("/images/flowers.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center; }
  @media (min-width: 768px) {
    .mask-section {
      margin-bottom: 98px;
      padding: 284px 100px 55px 101px;
      background-image: url("/images/flowers_ipad.jpg"); } }
  @media (min-width: 1366px) {
    .mask-section {
      padding: 150px;
      background-image: url("/images/flowers_desktop.jpg");
      background-size: cover; }
      .mask-section::before {
        content: "";
        position: absolute;
        bottom: 100px;
        left: 49%;
        width: 40px;
        height: 56px;
        background: url("/images/mouse.svg") no-repeat; }
      .mask-section::after {
        content: "";
        position: absolute;
        bottom: -1px;
        width: 100%;
        height: 75px;
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(3.33%, #3B181E), to(rgba(59, 24, 30, 0)));
        background-image: linear-gradient(0deg, #3B181E 3.33%, rgba(59, 24, 30, 0) 100%); } }
  @media (min-width: 1920px) {
    .mask-section {
      margin-bottom: 180px; } }
  .mask-section__title {
    margin-bottom: 35px;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;
    color: #E5E5E5;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.09em; }
    @media (min-width: 768px) {
      .mask-section__title {
        margin-bottom: 82px;
        font-family: 'Forum', cursive;
        font-size: 70px;
        line-height: 77px; } }
    @media (min-width: 1366px) {
      .mask-section__title {
        font-size: 90px;
        line-height: 102px; } }
    @media (min-width: 1920px) {
      .mask-section__title {
        margin-top: 175px;
        width: 820px;
        font-size: 120px;
        line-height: 132px; } }
  .mask-section__button {
    position: relative;
    margin-bottom: 60px;
    padding: 19px 36px 18px 36px;
    font-size: 10px;
    line-height: 11px;
    text-transform: uppercase;
    color: #E5E5E5;
    text-decoration: none;
    letter-spacing: 0.15em;
    border: 1px solid #E5E5E5;
    background: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease; }
    .mask-section__button:hover {
      background-color: #E5E5E5;
      color: #000000; }
    @media (min-width: 768px) {
      .mask-section__button {
        margin-bottom: 200px;
        padding: 22px 50px 19px 50px;
        font-size: 15px;
        line-height: 17px; } }
    @media (min-width: 1920px) {
      .mask-section__button {
        margin-bottom: 165px;
        padding: 14px 37px 17px 37px;
        font-size: 12px;
        line-height: 13px; }
        .mask-section__button::before {
          left: 80px; } }
  .mask-section__social-list {
    margin-bottom: 30px;
    padding: 0; }
    @media (min-width: 768px) {
      .mask-section__social-list {
        margin-bottom: 34px; } }
    @media (min-width: 1366px) {
      .mask-section__social-list {
        position: absolute;
        left: 50px;
        top: 500px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    @media (min-width: 1920px) {
      .mask-section__social-list {
        bottom: 58px;
        left: 39px;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; } }
  .mask-section__arrow-link {
    font-size: 0px;
    line-height: 0px; }
    .mask-section__arrow-link svg {
      -webkit-transition: 0.3s ease;
      transition: 0.3s ease; }
    .mask-section__arrow-link:hover svg {
      -webkit-transform: translateY(20px);
              transform: translateY(20px); }
    @media (min-width: 1366px) {
      .mask-section__arrow-link {
        position: absolute;
        right: 75px;
        top: 610px;
        font-size: 20px;
        letter-spacing: 0.06em;
        text-decoration: none;
        color: #E5E5E5;
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg); }
        .mask-section__arrow-link:hover svg {
          -webkit-transform: rotate(270deg) translateY(20px);
                  transform: rotate(270deg) translateY(20px); } }
    @media (min-width: 1920px) {
      .mask-section__arrow-link {
        top: 785px;
        right: 25px; } }
  @media (min-width: 768px) {
    .mask-section__arrow-link svg {
      width: 30px;
      height: auto; } }
  @media (min-width: 1366px) {
    .mask-section__arrow-link svg {
      position: absolute;
      bottom: -11px;
      left: 175px;
      width: 13.42px;
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg); } }
  @media (min-width: 1920px) {
    .mask-section__arrow-link svg {
      left: 195px; } }

.catalog-section {
  margin-bottom: 95px;
  padding: 0 17px 0 15px; }
  @media (min-width: 768px) {
    .catalog-section {
      padding: 0 40px; } }
  @media (min-width: 1366px) {
    .catalog-section {
      margin-bottom: 120px; } }
  @media (min-width: 1920px) {
    .catalog-section {
      background: url("/images/catalog-background-text.png") no-repeat 51% 13%; } }
  .catalog-section__title {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 34px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.06em; }
    @media (min-width: 390px) {
      .catalog-section__title {
        margin: 0 auto 20px auto;
        text-align: center; } }
    @media (min-width: 768px) {
      .catalog-section__title {
        font-size: 30px;
        line-height: 33px; } }
    @media (min-width: 1920px) {
      .catalog-section__title {
        margin-bottom: 23px; } }
  .catalog-section > hr {
    display: none; }
    @media (min-width: 768px) {
      .catalog-section > hr {
        position: relative;
        left: -13px;
        display: block;
        width: 83.5px;
        margin-bottom: 30px;
        border: 1px solid #E5E5E5; } }
    @media (min-width: 1920px) {
      .catalog-section > hr {
        margin-bottom: 82px; } }
  .catalog-section__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: hidden; }
    @media (min-width: 900px) {
      .catalog-section__slider {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    @media (min-width: 1920px) {
      .catalog-section__slider {
        margin-bottom: 145px; } }
  .catalog-section__card {
    margin-bottom: 15px; }
    @media (min-width: 390px) {
      .catalog-section__card {
        margin: 0px auto 15px auto; } }
    @media (min-width: 768px) {
      .catalog-section__card {
        margin: 0px 28px 24px 0; } }
    @media (min-width: 900px) {
      .catalog-section__card {
        margin: 0px 80px 24px 0; } }
    @media (min-width: 1920px) {
      .catalog-section__card {
        margin-right: 50px; } }
  .catalog-section__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 330px; }
    @media (min-width: 390px) {
      .catalog-section__controls {
        margin: 0 auto; } }
    @media (min-width: 768px) {
      .catalog-section__controls {
        width: 170px; }
        .catalog-section__controls hr:nth-of-type(3),
        .catalog-section__controls hr:nth-of-type(4) {
          display: none; } }
  @media (min-width: 768px) and (min-width: 1920px) {
    .catalog-section__controls {
      display: none; } }
    .catalog-section__controls hr {
      margin-right: 12.52px;
      width: 62.61px;
      border: 2px solid rgba(255, 255, 255, 0.3); }
      .catalog-section__controls hr:last-of-type {
        margin-right: 0; }
      .catalog-section__controls hr:hover {
        border-color: #E5E5E5; }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 23px 0 0 20px;
  width: 288px;
  height: 392px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease; }
  .card a,
  .card .card__text,
  .card .card__text a {
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease; }
  @media (min-width: 320px) {
    .card:hover a {
      opacity: 1; } }
  @media (min-width: 1366px) {
    .card:hover {
      outline: 1px solid rgba(255, 255, 255, 0.2);
      outline-offset: 10px; }
      .card:hover .card__text,
      .card:hover a {
        opacity: 1;
        -webkit-transform: translateY(0px);
                transform: translateY(0px); } }
  @media (min-width: 768px) {
    .card {
      padding-top: 42px;
      width: 330px;
      height: 450px; } }
  @media (min-width: 1366px) {
    .card {
      margin-top: 15px; } }
  @media (min-width: 1920px) {
    .card {
      padding-top: 37px; } }
  .card__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 97px; }
    @media (min-width: 768px) {
      .card__title {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse; } }
    @media (min-width: 1920px) {
      .card__title {
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end; } }
    .card__title hr {
      width: 70px;
      margin-right: 8px;
      border: 1px solid #E5E5E5; }
      @media (min-width: 768px) {
        .card__title hr {
          margin-right: 0;
          margin-left: 8px; } }
    .card__title span {
      font-size: 20px;
      line-height: 22px;
      text-transform: uppercase; }
  .card__text {
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    opacity: 0.9; }
    @media (min-width: 1366px) {
      .card__text {
        -webkit-transform: translateY(62px);
                transform: translateY(62px); } }
  .card__button {
    display: inline-block;
    margin-top: 10px;
    padding: 19px 36px 18px 36px;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #010001;
    opacity: 0.4;
    background-color: #E5E5E5;
    text-decoration: none; }
    @media (min-width: 1366px) {
      .card__button {
        -webkit-transform: translateY(10px);
                transform: translateY(10px); } }
  .card--wedding-bouquet {
    background-image: url("/images/bouquet1.jpg"); }
  .card--bouquet {
    display: none;
    background-image: url("/images/bouquet2.jpg"); }
    @media (min-width: 768px) {
      .card--bouquet {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-right: 0; } }
    @media (min-width: 1366px) {
      .card--bouquet {
        margin-right: 80px; } }
    @media (min-width: 1920px) {
      .card--bouquet {
        margin-right: 50px; } }
  .card--compositions {
    display: none;
    background-image: url("/images/bouquet3.jpg"); }
    @media (min-width: 1366px) {
      .card--compositions {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-right: 0; } }
    @media (min-width: 1920px) {
      .card--compositions {
        margin-right: 50px; } }
  .card--activity {
    display: none;
    background-image: url("/images/bouquet4.jpg"); }
    @media (min-width: 1920px) {
      .card--activity {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-right: 0; } }

.promo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 16px;
  overflow: hidden; }
  @media (min-width: 390px) {
    .promo {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media (min-width: 768px) {
    .promo {
      padding: 0 0 0 30px; } }
  @media (min-width: 1366px) {
    .promo {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 100px; } }
  @media (min-width: 1920px) {
    .promo {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 140px; } }
  .promo__picture {
    margin-bottom: 8px;
    width: 288px;
    height: 170px;
    font-size: 0px;
    line-height: 0px;
    overflow: hidden; }
    @media (min-width: 768px) {
      .promo__picture {
        width: 453px;
        height: 323px; } }
    @media (min-width: 900px) {
      .promo__picture {
        width: 697px;
        height: 410px; } }
  .promo__content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    @media (min-width: 390px) {
      .promo__content {
        max-width: 285px; } }
    @media (min-width: 768px) {
      .promo__content {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        max-width: 485px; } }
    @media (min-width: 1366px) {
      .promo__content {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        width: 352px;
        margin-right: 40px; } }
    @media (min-width: 1920px) {
      .promo__content {
        margin: 42px 175px 0px 20px; } }
  .promo__title {
    margin-bottom: 26px;
    width: 200px;
    font-size: 20px;
    line-height: 34px;
    font-weight: normal;
    letter-spacing: 0.06em;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .promo__title {
        margin-bottom: 37px;
        width: auto;
        font-size: 30px;
        line-height: 51px; } }
    @media (min-width: 900px) {
      .promo__title {
        font-size: 34px;
        line-height: 56px; } }
    @media (min-width: 1920px) {
      .promo__title {
        font-size: 30px;
        line-height: 51px; } }
  .promo__content hr {
    position: absolute;
    top: 103px;
    width: 83px;
    font-size: 0px; }
    @media (min-width: 768px) {
      .promo__content hr {
        width: 85.5px;
        top: 86px; } }
    @media (min-width: 900px) {
      .promo__content hr {
        top: 100px; } }
    @media (min-width: 1366px) {
      .promo__content hr {
        top: 150px; } }
    @media (min-width: 1920px) {
      .promo__content hr {
        top: 140px; } }
  .promo__text {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 24px; }
    @media (min-width: 768px) {
      .promo__text {
        margin-bottom: 15px;
        max-width: 453px;
        text-align: center; } }
    @media (min-width: 900px) {
      .promo__text {
        font-size: 16px;
        line-height: 28px; } }
    @media (min-width: 1366px) {
      .promo__text {
        text-align: left; } }
    @media (min-width: 1920px) {
      .promo__text {
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 24px; } }
  .promo__button {
    margin-bottom: 95px;
    padding: 18px 40px 18.56px 31px;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #E5E5E5;
    background-color: #010001;
    border: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease; }
    .promo__button:hover {
      background-color: #E5E5E5;
      color: #000000; }
    @media (min-width: 768px) {
      .promo__button {
        margin-bottom: 90px; } }

.content-section {
  position: relative;
  margin: 0 auto; }
  @media (min-width: 1366px) {
    .content-section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 0px; } }
  .content-section__main-picture {
    margin-bottom: 30px;
    width: 100%;
    line-height: 0px;
    overflow: hidden; }
    .content-section__main-picture img {
      width: 100%;
      max-height: 518px;
      -o-object-fit: cover;
         object-fit: cover; }
      @media (min-width: 950px) {
        .content-section__main-picture img {
          max-height: 650px; } }
      @media (min-width: 1366px) {
        .content-section__main-picture img {
          max-height: 100%; } }
    @media (min-width: 950px) {
      .content-section__main-picture {
        margin-bottom: 50px; } }
    @media (min-width: 1366px) {
      .content-section__main-picture {
        margin-bottom: 0;
        max-width: 995px; } }
  @media (min-width: 768px) {
    .content-section__content-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; } }
  @media (min-width: 1366px) {
    .content-section__content-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .content-section__content {
    padding: 0 20px; }
    @media (min-width: 768px) {
      .content-section__content {
        padding: 0 50px; } }
    @media (min-width: 950px) {
      .content-section__content {
        text-align: center; } }
    @media (min-width: 1366px) {
      .content-section__content {
        margin-top: 140px;
        width: 600px;
        text-align: left; } }
    @media (min-width: 1920px) {
      .content-section__content {
        margin: 220px 0 36px 0;
        padding-left: 114px;
        width: 720px; } }
  .content-section__content-title {
    width: 250px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.09em; }
    @media (min-width: 768px) {
      .content-section__content-title {
        width: auto;
        font-size: 40px;
        line-height: 44px; } }
    @media (min-width: 1920px) {
      .content-section__content-title {
        margin-bottom: 50px;
        font-size: 50px;
        line-height: 55px; } }
  .content-section__content-text {
    margin-bottom: 38px;
    font-size: 18px;
    line-height: 22px; }
    @media (min-width: 768px) {
      .content-section__content-text {
        margin-bottom: 35px;
        font-size: 20px;
        line-height: 24px; } }
    @media (min-width: 1920px) {
      .content-section__content-text {
        font-size: 18px;
        line-height: 27px; } }
  .content-section__content-button {
    margin-bottom: 40px;
    margin-right: 10px;
    padding: 15px 31px 16px 30px;
    font-size: 10px;
    line-height: 11px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #E5E5E5;
    border: 1px solid #E5E5E5;
    background-color: transparent;
    border-color: #E5E5E5;
    text-decoration: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease; }
    .content-section__content-button:hover {
      background-color: #E5E5E5;
      color: #000000; }
    @media (min-width: 768px) {
      .content-section__content-button {
        margin-bottom: 64px;
        margin-right: 20px;
        padding: 20px 42px 19px 42px;
        font-size: 15px;
        line-height: 17px; } }
    @media (min-width: 1920px) {
      .content-section__content-button {
        margin-right: 30px;
        padding: 13px 35px 16px 35px;
        font-size: 12px;
        line-height: 13px; } }
  .content-section__slider {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 20px; }
    @media (min-width: 330px) {
      .content-section__slider {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    @media (min-width: 768px) {
      .content-section__slider {
        margin-top: 0;
        margin-bottom: 45px;
        padding: 0 20px; } }
    @media (min-width: 1366px) {
      .content-section__slider {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        padding-left: 50px; } }
    @media (min-width: 1920px) {
      .content-section__slider {
        padding-left: 114px; } }
    @media (min-width: 1366px) {
      .content-section__slider::after {
        content: "";
        position: absolute;
        top: 30%;
        right: 4%;
        width: 50px;
        height: 50px;
        background: url("/images/internal-pages-arrow.svg") no-repeat 50% 50%; } }
  .content-section__slides {
    margin-right: 8px;
    width: 75px;
    height: 75px;
    overflow: hidden;
    list-style: none; }
    @media (min-width: 768px) {
      .content-section__slides {
        margin-right: 23px;
        width: 145px;
        height: 145px; }
        .content-section__slides:last-of-type {
          width: 145px;
          height: 145px; } }
    @media (min-width: 950px) {
      .content-section__slides {
        width: 175px;
        height: 175px; }
        .content-section__slides img {
          width: 100%; }
        .content-section__slides:last-of-type {
          width: 175px;
          height: 175px; } }
    @media (min-width: 1366px) {
      .content-section__slides {
        width: 123px;
        height: 123px; }
        .content-section__slides:last-of-type {
          width: 123px;
          height: 123px; } }
    @media (min-width: 1920px) {
      .content-section__slides {
        margin-right: 20px; } }
  .content-section__link {
    display: none; }
    @media (min-width: 1366px) {
      .content-section__link {
        position: absolute;
        right: 20px;
        bottom: 20px;
        display: block; }
        .content-section__link a {
          font-size: 18px;
          line-height: 27px;
          color: #E5E5E5;
          text-decoration: none;
          -webkit-transition: 0.3s ease;
          transition: 0.3s ease; }
          .content-section__link a:hover {
            font-weight: bold; }
          .content-section__link a span {
            margin-right: 15px; } }
      @media (min-width: 1366px) and (min-width: 1920px) {
        .content-section__link a span {
          margin-right: 25px; } }
    @media (min-width: 1920px) {
      .content-section__link {
        right: 96px;
        bottom: 45px; } }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  background-color: #3B181E; }

body {
  margin: 0 auto;
  max-width: 1920px;
  font-family: 'Forum', cursive;
  font-size: 10px;
  line-height: 15px;
  color: #E5E5E5;
  background-color: #3B181E; }

img {
  max-width: 100%;
  height: auto; }

/*# sourceMappingURL=style.css.map */
